@font-face {
  font-family: "ComicSans";
  src:
    url("/fonts/ComicSansBold.ttf") format("truetype"),
    url("/fonts/ComicSans.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  font-family: "ComicSans", "sans-serif";
}
