#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, Georgia, serif;
  background-image: url("/textures/parchment.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  min-height: 100vh;
}
